<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="./plugins/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./plugins/simplebar/simplebar.css" />
    <link rel="stylesheet" href="./plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="./stylesheets/newMain.css"/>
  </head>
  <body>

    <!-- Header include !-->
    <% include templates/header.ejs %>


    <!-- Main Content -->
    <div id="mainContentContainer">

      <!-- Left Right -->
      <div class="contentDividers leftDivider">

        <!-- Include Left Side Bar -->
        <% include templates/left-side-bar.ejs %>

        <!-- Inlcude Main Feeds -->
        <div id="mainFeedContainer" class="simplebar">
          <div id="scrollableFeedInner">



            <div class="feedBlock">
              <div class="feedBlockHeader twitterHeader">
                <img class="feedBlockHeaderIcon" src="./images/twitterInverted.png">
              </div>

              <div class="feedBlockContent">
                <div class="feedBlockCreatorProfileBlock">
                  <a href="#">
                    <img class="feedCeatorsProfilePic" src="images/profilePic.jpg">
                  </a>
                  <div class="feedBlockCreatorProfileNameAndTime">
                    <a href="#" class="feedBlockCreatorProfileLink">mEclipse</a> @fagitya<br>
                    Posted 2 hours ago
                  </div>
                </div>
                <div  class="feedBlockMainContent">
                  I don't know who he is but after the videos i watched of him being abused just for defending a fan. I got big respect for him

                  #PrayForDerek
                  <div class="feedBlockImageCont"><img class="feedBlockRedditImage" src="./images/temp.jpg"></div>
                </div>
              </div>

              <div class="feedBlockFooter">
                <span class="feedBlockFooterButton feedBlockFooterButton1by3">a</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">d</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">g</span>
                <!--<div class="feedBlockFooterButton feedBlockFooterButton1by3">a</div><div class="feedBlockFooterButton feedBlockFooterButton1by3">d</div><div class="feedBlockFooterButton feedBlockFooterButton1by3">g</div>-->
              </div>
            </div>










            <div class="feedBlock">
              <div class="feedBlockHeader twitterHeader">
                <img class="feedBlockHeaderIcon" src="./images/twitterInverted.png">
              </div>

              <div class="feedBlockContent">
                <div class="feedBlockCreatorProfileBlock">
                  <a href="#">
                    <img class="feedCeatorsProfilePic" src="images/profilePic.jpg">
                  </a>
                  <div class="feedBlockCreatorProfileNameAndTime">
                    <a href="#" class="feedBlockCreatorProfileLink">mEclipse</a> @fagitya<br>
                    Posted 2 hours ago
                  </div>
                </div>
                <div  class="feedBlockMainContent">
                  I don't know who he is but after the videos i watched of him being abused just for defending a fan. I got big respect for him

                  #PrayForDerek

                </div>
              </div>

              <div class="feedBlockFooter">
                <span class="feedBlockFooterButton feedBlockFooterButton1by3">a</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">d</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">g</span>
                <!--<div class="feedBlockFooterButton feedBlockFooterButton1by3">a</div><div class="feedBlockFooterButton feedBlockFooterButton1by3">d</div><div class="feedBlockFooterButton feedBlockFooterButton1by3">g</div>-->
              </div>
            </div>













            <div class="feedBlock">
              <div class="feedBlockHeader facebookHeader">
                <img class="feedBlockHeaderIcon" src="./images/facebookInverted.png">
              </div>
              <div class="feedBlockSubHeader">Dhruv Patel's Message</div>
              <div class="feedBlockContent">

                <div class="feedBlockMessagesShowOlderOutter">
                <a href="#">
                  <div class="feedBlockMessagesShowOlder"> <div class="showOlderMessageIcon"></div>Show older messages</div>
                </a>
                </div>

                <div class="feedBlockMessageBubbleCont">
                  <div class="feedBlockMessageBubbleInnerCont flRight">
                    <div class="feedBlockMessageBubble">Hey how are you fagit!>!?</div>
                    <br>
                    <div class="feedBlockMessageBubble">Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you Hey how are you fagit!>!?</div>
                  </div>
                </div>

                <div class="feedBlockMessageBubbleCont">
                  <div class="feedBlockMessageBubbleProfilePicCont"><img class="feedBlockMessageBubbleProfilePic" src="./images/profilePic.jpg"/></div>
                  <div class="feedBlockMessageBubbleInnerCont">
                    <div class="feedBlockMessageBubble">Hey how are you fagit!>!?</div>
                    <br>
                    <div class="feedBlockMessageBubble">Hey how are you fagit!>!?</div>
                  </div>
                </div>

              </div>

              <div class="feedBlockFooter">
                <div class="feedBlockMessageFooterProfilePicCont">
                  <img class="feedBlockMessageFooterProfilePic" src="images/profilePic.jpg">
                </div>
                <div class="feedBlockMessageFooterInputCont">
                  <div class="feedBlockMessageFooterSendButton">Send</div>
                  <div class="feedBlockMessageFooterTextAreaCont"><input placeholder="Type a message..." type="text" class="feedBlockMessageFooterInput"/></div>
                </div>
              </div>
            </div>







            <div class="feedBlock">
              <div class="feedBlockHeader facebookHeader">
                <img class="feedBlockHeaderIcon" src="./images/facebookInverted.png">
              </div>

              <div class="feedBlockContent">
                <div class="feedBlockCreatorProfileBlock">
                  <a href="#">
                    <img class="feedCeatorsProfilePic" src="images/profilePic.jpg">
                  </a>
                  <div class="feedBlockCreatorProfileNameAndTime">
                    <a href="#" class="feedBlockCreatorProfileLink">mEclipse</a><br>
                    Posted 2 hours ago
                  </div>
                </div>
                <div  class="feedBlockMainContent">
                  I don't know who he is but after the videos i watched of him being abused just for defending a fan. I got big respect for him

                  #PrayForDerek
                  <div class="feedBlockImageCont"><img class="feedBlockRedditImage" src="./images/temp.jpg"></div>
                </div>
              </div>

              <div class="feedBlockFooter">
                <span class="feedBlockFooterButton feedBlockFooterButton1by3">a</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">d</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">g</span>

              </div>
            </div>







            <div class="feedBlock">
              <div class="feedBlockHeader facebookHeader">
                <img class="feedBlockHeaderIcon" src="./images/facebookInverted.png">
              </div>

              <div class="feedBlockContent">
                <div class="feedBlockCreatorProfileBlock">
                  <a href="#">
                    <img class="feedCeatorsProfilePic" src="images/profilePic.jpg">
                  </a>
                  <div class="feedBlockCreatorProfileNameAndTime">
                    <a href="#" class="feedBlockCreatorProfileLink">mEclipse</a><br>
                    Posted 2 hours ago
                  </div>
                </div>
                <div  class="feedBlockMainContent">
                  <div  class="feedBlockThumbnailCont">
                    <div style="position: relative;">
                      <img  class="feedBlockThumbnail" src="./images/temp.jpg" alt="...">
                      <div class="feedBlockThumbnailTimeCont">14:41:42</div>
                    </div>
                    <div class="feedBlockThumbnailViewCount">10,000,000,000 views</div>
                  </div>
                  <div>
                    <span class="feedBlockPlayingSpan">Not a click bait title at all.</span>
                    <span class="feedBlockDescription">es dgas agsdver ag;skla;kjdg sddg asdg sdver rev zverv asdg asdg asdgasdga asdg asdgasd gasdg asdg asdg slkvmrieno aog vksadnv re v asdfgs sdfg sdfhs sfdsd t</span>
                  </div>
                </div>
              </div>

              <div class="feedBlockFooter">
                <span class="feedBlockFooterButton feedBlockFooterButton1by3">a</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">d</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">g</span>

              </div>
            </div>












            <div class="feedBlock">
              <div class="feedBlockHeader redditHeader">
                <img class="feedBlockHeaderIcon" src="./images/reddit.png">
              </div>

              <div class="feedBlockContent">
                <b>Asgd asdg asg ashasdfasha gasdhasdfashash ashdasdfasha ashasdfasdh ashadf h</b>
                <br>
                6 hours ago on <a href="#">/r/GlobalOffensive</a> by <a href="#">NutCracker</a>

                <div class="feedBlockImageCont"><img class="feedBlockRedditImage" src="./images/temp.jpg"></div>

              </div>

              <div class="feedBlockFooter" style="padding: 10px;">
                1,414 Comments
                <div class="feedBlockRedditFooterVotingCont">
                  <div class="footerRedditUpArrow" ></div>
                  <span class="footerRedditVoteCount">1253</span>
                  <div class="footerRedditDownArrow" ></div>
                </div>
              </div>
            </div>












            <div class="feedBlock">
              <div class="feedBlockHeader twitchHeader">
                <img class="feedBlockHeaderIcon" src="./images/twitchInverted.png">
              </div>

              <div class="feedBlockContent">
                <div class="feedBlockCreatorProfileBlock">
                  <a href="#">
                    <img class="feedCeatorsProfilePic" src="images/profilePic.jpg">
                  </a>
                  <div class="feedBlockCreatorProfileNameAndTime">
                    <a href="#" class="feedBlockCreatorProfileLink">mEclipse</a> is now Live<br>
                    Since 2 hours
                  </div>
                </div>
                <div  class="feedBlockMainContent">
                  <div  class="feedBlockThumbnailCont">
                    <div style="position: relative;">
                      <img  class="feedBlockThumbnail" src="./images/temp.jpg" alt="...">
                      <div class="feedBlockThumbnailTimeCont">14:41:42</div>
                    </div>
                    <div class="feedBlockThumbnailViewCount">10,000 watching</div>
                  </div>
                  <div>
                    <span class="feedBlockPlayingSpan">Playing: <a href="#">Counter-Strike: Global Offensive</a></span>
                    <span class="feedBlockDescription">es dgas agsdver ag;skla;kjdg sddg asdg sdver rev zverv asdg asdg asdgasdga asdg asdgasd gasdg asdg asdg slkvmrieno aog vksadnv re v asdfgs sdfg sdfhs sfdsd t</span>
                  </div>
                </div>
              </div>

              <div class="feedBlockFooter">
                <span class="feedBlockFooterButton feedBlockFooterButton1by3">a</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">d</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">g</span>
              </div>
            </div>














            <div class="feedBlock">
              <div class="feedBlockHeader youtubeHeader">
                <img class="feedBlockHeaderIcon" src="./images/youtubeInverted.png">
              </div>

              <div class="feedBlockContent">
                <div class="feedBlockCreatorProfileBlock">
                  <a href="#">
                    <img class="feedCeatorsProfilePic" src="images/profilePic.jpg">
                  </a>
                  <div class="feedBlockCreatorProfileNameAndTime">
                    <a href="#" class="feedBlockCreatorProfileLink">mEclipse</a><br>
                    Posted 2 hours ago
                  </div>
                </div>
                <div  class="feedBlockMainContent">
                  <div  class="feedBlockThumbnailCont">
                    <div style="position: relative;">
                      <img  class="feedBlockThumbnail" src="./images/temp.jpg" alt="...">
                      <div class="feedBlockThumbnailTimeCont">14:41:42</div>
                    </div>
                    <div class="feedBlockThumbnailViewCount">10,000,000,000 views</div>
                  </div>
                  <div>
                    <span class="feedBlockPlayingSpan">Not a click bait title at all.</span>
                    <span class="feedBlockDescription">es dgas agsdver ag;skla;kjdg sddg asdg sdver rev zverv asdg asdg asdgasdga asdg asdgasd gasdg asdg asdg slkvmrieno aog vksadnv re v asdfgs sdfg sdfhs sfdsd t</span>
                  </div>
                </div>
              </div>

              <div class="feedBlockFooter">
                <span class="feedBlockFooterButton feedBlockFooterButton1by3">a</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">d</span><span class="feedBlockFooterButton feedBlockFooterButton1by3">g</span>
              </div>
            </div>







          </div>
        </div>
      </div>

      <!-- Right Divider -->
      <% include templates/right-side-bar.ejs %>

      </template>

    </div>



    <script src="./javascripts/jquery-1.12.0.min.js"></script>
    <script src="./javascripts/default.js"></script>
    <script src="./plugins/simplebar/simplebar.js"></script>

    <script>
      $(document).ready(function () {
          $("#playlistCont").height($("body").height() - $("#playlistCont").offset().top);

          $("#mainFeedContainer").simplebar();
      });
    </script>

  </body>
</html>
