<div class="sideBarLeft">
  <div id="sideBarScrollable">
    <div class="sideBarListsCont">
      <div class="sideBarListsHeader">Filters</div>

      <div class="sideBarListItem">
        <img class="sideBarListsIcon" src="./images/reddit.png">
        <div class="sideBarListsNames">Le Reddit</div>
      </div>

      <div class="sideBarListItem">
        <img class="sideBarListsIcon" src="./images/twitch.png">
        <div class="sideBarListsNames">Twitch</div>
      </div>

      <a href="/auth/google">
        <div class="sideBarListItem">
          <img class="sideBarListsIcon" src="./images/youtube.png">
          <div class="sideBarListsNames">Youtube</div>
        </div>
      </a>

      <div class="sideBarListItem">
        <img class="sideBarListsIcon" src="./images/facebook.png">
        <div class="sideBarListsNames">Facebook</div>
      </div>

      <div class="sideBarListItem">
        <img class="sideBarListsIcon" src="./images/twitter.png">
        <div class="sideBarListsNames">Twitter</div>
      </div>

    </div>
  </div>
</div>
