<div class="contentDividers rightDivider">
  <div class="playerCont embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" scrolling="no" src="http://player.twitch.tv/?channel=summit" allowfullscreen></iframe>
  </div>
  <div class="playlistBlock">
    <div class="playlistInfo">
      Default Playlist (23 Videos)
    </div>
    <div id="playlistCont" data-simplebar-direction="vertical">
      <ol class="playlistOL">




        <li id="playlistSelected">
          <div>
            <span class="playlistNumber">000</span>
            <img class="playlistItemThumb" src="./images/temp.jpg">
            <div class="playlistItemInfo">
              <span class="playlistItemInfoTitle">This is such a fucking click bait and u gonna fall for it</span><br>
              <span class="playlistItemInfoCreator">mEclipse</span>
            </div>
          </div>
        </li>


        <li>
          <div>
            <span class="playlistNumber">000</span>
            <img class="playlistItemThumb" src="./images/temp.jpg">
            <div class="playlistItemInfo">
              <span class="playlistItemInfoTitle">This is such a fucking click bait and u gonna fall for it</span><br>
              <span class="playlistItemInfoCreator">mEclipse</span>
            </div>
          </div>
        </li>






        <li>
          <div>
            <span class="playlistNumber">000</span>
            <img class="playlistItemThumb" src="./images/temp.jpg">
            <div class="playlistItemInfo">
              <span class="playlistItemInfoTitle">This is such a fucking click bait and u gonna fall for it</span><br>
              <span class="playlistItemInfoCreator">mEclipse</span>
            </div>
          </div>
        </li>







        <li>
          <div>
            <span class="playlistNumber">000</span>
            <img class="playlistItemThumb" src="./images/temp.jpg">
            <div class="playlistItemInfo">
              <span class="playlistItemInfoTitle">This is such a fucking click bait and u gonna fall for it</span><br>
              <span class="playlistItemInfoCreator">mEclipse</span>
            </div>
          </div>
        </li>






        <li>
          <div>
            <span class="playlistNumber">000</span>
            <img class="playlistItemThumb" src="./images/temp.jpg">
            <div class="playlistItemInfo">
              <span class="playlistItemInfoTitle">This is such a fucking click bait and u gonna fall for it</span><br>
              <span class="playlistItemInfoCreator">mEclipse</span>
            </div>
          </div>
        </li>





      </ol>
    </div>
  </div>
</div>
