.navigationBar{
    border-bottom: 1px solid #ccc;
}

.navigationContent{
    padding: 10px 20px;
}

.navigationLogo{
    font-size: 22px;
    font-weight: bold;
}

.navigationSearch{
    border-radius: 3px;
    border: 1px solid;
    padding: 4px;
    vertical-align: top;
}

.navigationSearchCont {
    margin-left: 140px;
    float: right;
}

.navigationBarLinks{

    font-size: 16px;
    margin-left: 10px;
}

.navigationBarLinksCont {
    display: inline-block;
    height: 30px;
}

.major-divider {
    padding:0px;
}

.footerButton{
    border-right: 1px solid #ddd;
    text-align: center;
    padding: 10px 0;
    background-color: #eee;
}

.footerButton:hover{
    background-color: #ccc;

}

.footerButtonCont > .footerButton:last-child{
    border-right: 1px solid #ddd;
    border-bottom-right-radius: 3px;
}

.noDecorationLinks:hover{
    text-decoration: none;
}

.playlistItem{
    height: 60px;
    border-bottom: 1px solid #eee;
}

.playlistItem:last-of-type{
    border-bottom: 0px;
}


.playlistNumber{
    float: left;
    width: 30px;
    line-height: 60px;
    text-align: center;
}


.playlistThumbCont{
    float: left;
    margin: 5px 10px 5px 0;
}


.playlistImage{
    max-height: 50px;
}

.playlistItemInfo{
    max-height: 50px;
    float: left;
    margin: 5px 0;
}

.playlistTitle{
    font-size: 15px;
    font-weight: bold;
    display: block;
}


.playlistItemCreator{
    font-size: 13px;
}

.playerHalfScreen{
    border-left: 1px solid #000;
}

.playerCont{
    background-color: #000;
}


.playlistInfo{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    padding: 5px 0;
    background-color: #f8f8f8;
}
