html, body{
    margin:0;
    padding:0;
    /*background-color: rgba(0,0,0,0.05);
    background-color: rgba(245,245,245, 0.95);*/
    height: 100%;
    width: 100%;
    overflow:hidden;
}

.topNavBar{
    background-color: #eaeaea;
    position: relative;
    z-index: 1;
    height: 50px;
    display: flex;
    align-items: center;
    outline: 1px solid #ddd;
}

.hamburger-button{
    margin-left: 20px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 3px;
    background-color: #fff;
}

.hamburger-button:hover{
    background-color: rgba(0,0,0,0.05);
    border: 1px solid #aaa;
}

.hamburger-icon{
    height: 22px;
    width: 22px;
}

.navLogo{
    padding-left: 15px;
    font-weight: bold;
    color: #111;
    font-size: 26px;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.5);
}

#mainContentContainer{
    height:calc(100% - 50px);
}

.contentDividers{
    width: 50%;
    float: left;
    height: 100%;
}

.leftDivider{
    background-color: #fff;    
}

.rightDivider{
    -webkit-box-shadow: 1px 0px 3px 2px rgba(136,136,136,1);
    -moz-box-shadow: 1px 0px 3px 2px rgba(136,136,136,1);
    box-shadow: 1px 0px 3px 2px rgba(136,136,136,1);
}

.sideBarLeft{
    height: 100%;
    float: left;
    -webkit-box-shadow: -1px 0px 3px 2px rgba(136,136,136,1);
    -moz-box-shadow: -1px 0px 3px 2px rgba(136,136,136,1);
    box-shadow: -1px 0px 3px 2px rgba(136,136,136,1);
    /*background-color: rgba(238,238,238,0.95);*/
    background-color: rgba(245,245,245, 0.95);
}


.sideBarListsCont{
    margin-top: 20px;
}

.sideBarListsHeader{
    margin: 0 0 2px 20px;
}

.sideBarListItem{
    float: left;
    clear: left;
    height: 46px;
    padding: 3px 20px;
    display: inline-flex;
}

.sideBarListItem:hover{
    background-color: rgba(0, 0, 0, 0.05)
}

.sideBarListsIconsCont{
    padding: 0 4px;
    width: 48px;
    float:left;
}

.sideBarListsIcon{
    margin: 0 4px;
    height: 40px;
    width: 40px;
}

.sideBarListsNames{
    /* float: left; */
    width: 112px;
    position: relative;
    left: 8px;
    overflow: hidden;
    line-height: 40px;
}

.sideBarListsNameSpan{
    height: 40px;
    line-height: 40px;
}

#mainFeedContainer{
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    overflow: hidden;
}

#scrollableFeedInner{
    width: 100%;
    margin-bottom: 20px;
}

.feedBlock{
    margin: 20px 20px 0 20px;   
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


.feedBlockHeader{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px 10px 5px 10px;
}

.twitchHeader{
    background-color: #6441a3;
    border-bottom: 1px solid;
    border-bottom-color: rgba(100,65,163, 0.1);
}

.youtubeHeader{
    background-color: #C33C2D;
    border-bottom: 1px solid;
    border-bottom-color: rgba(95,60,45, 0.1);
}

.facebookHeader{
    background-color: #3D5C99;
    border-bottom: 1px solid;
    border-bottom-color: rgba(95,60,45, 0.1);
}


.twitterHeader{
    background-color: #1da1f2;
    border-bottom: 1px solid;
    border-bottom-color: rgba(95,60,45, 0.1);
}

.feedBlockHeaderIcon{
    width:30px;
    height:30px;
}

.feedBlockFooter{
    border: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: rgba(245,245,245, 0.95);
    overflow: hidden;
}

.feedBlockFooterButton{
    text-align: center;
    border-right: 1px solid #ddd;
    padding: 10px 0;
    display: inline-block;
}

.feedBlockFooterButton1by3{
    width:calc(100% / 3);
}

.feedBlockFooter > .feedBlockFooterButton:last-child{
    border-right: 0px;
}

.feedBlockFooterButton:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.feedBlockContent{
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.feedBlockCreatorProfileBlock{
    margin-bottom: 10px;
    float: left;
}

.feedCeatorsProfilePic{
    border-radius: 3px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
}

.feedBlockCreatorProfileNameAndTime{
    float: left;
}

.feedBlockMainContent{
    clear: both;
    width: 100%;
    display: inline-block;
}

.feedBlockCreatorProfileLink{
    font-weight: bold;
}

.feedBlockThumbnailCont{
    border: 1px solid #ddd;
    float: left; 
    margin-right: 10px;
    border-radius: 3px;
    background-color: rgba(245,245,245, 0.95);
}

.feedBlockThumbnail{
    width:155px;
    height: 87px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.feedBlockThumbnailViewCount{
    border-top: 1px solid #ddd;
    padding: 1px 3px;
}

.feedBlockThumbnailTimeCont{
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    border-radius: 3px;
    bottom: 4px;
    right: 4px;
    padding: 2px 3px 0 3px;
    color: #fff;
    font-size: 13px;
}

.feedBlockPlayingSpan{
    font-weight: bold;
}
.feedBlockDescription{
    display: block;
}

.redditHeader{
    background-color: #fff;
    border: 1px solid #ddd;
}

.footerRedditUpArrow{
    width: 15px; 
    height: 14px; 
    background-image: url(../images/redditSprite.png);
    background-position: -63px -865px; 
    background-repeat: no-repeat;
    float:left;
}

.footerRedditDownArrow{
    width: 15px; 
    height: 14px; 
    background-image: url(../images/redditSprite.png);
    background-position: -21px -865px;
    background-repeat: no-repeat;
    float:left;
}


.feedBlockImageCont{
    margin: 5px -16px -15px -16px;
}

.feedBlockRedditImage{
    width: 100%;
    max-height: 500px;
}

.feedBlockRedditFooterVotingCont{
    display: inline-block; 
    float: right; 
    position: relative; 
    top: 2px;
}

.footerRedditVoteCount{
    float:left; 
    position: relative; 
    top: -2px; 
    margin: 0 10px;
}


.feedBlockSubHeader{
    border: 1px solid #ddd;
    background-color: #eaeaea;
    padding: 4px 10px;
}

.showOlderMessageIcon {
    margin: 3px 0;
    width: 15px;
    height: 14px;
    background-image: url(../images/redditSprite.png);
    background-position: -63px -865px;
    background-repeat: no-repeat;
    float: left;
    margin-right: 4px;
}

.feedBlockMessagesShowOlderOutter{
    width: 179px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.feedBlockMessagesShowOlder{
    background-color: #eee;
    padding: 2px 10px 2px 8px;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.feedBlockMessageBubbleCont{
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
}

.feedBlockMessageBubbleProfilePicCont{
    vertical-align: top;
    display: inline-block;
}


.feedBlockMessageBubbleProfilePic{
    border-radius: 3px;
    height: 30px;
    width: 30px;
}

.feedBlockMessageBubble{
    border: 1px solid #D5D5D5;
    padding: 3px 10px;
    border-radius: 13px 13px 13px 3px;
    margin-top: 2px;
    display: inline-block;
}

.feedBlockMessageBubbleInnerCont{

    display: inline-block;
    max-width: 85%;
    margin-left: 4px;
}


.flRight{
    float: right;
}

.flLeft{
    float: left;
}

.feedBlockMessageBubbleCont > .flRight > .feedBlockMessageBubble{
    float: right;
    background-color: #E0EDFF;
    border-radius: 13px 13px 3px 13px;
    border: 1px solid #BCC7D6;
}

.feedBlockMessageFooterProfilePicCont{
    width: 41px;
    border-right: 1px solid #ddd;
    float: left;
}

.feedBlockMessageFooterProfilePic{
    height: 32px;
    width: 32px;
    border-radius: 3px;
    margin: 4px;
}

.feedBlockContent > .feedBlockMessageBubbleCont:last-child{
    margin-bottom: 0px;
}

.feedBlockMessageFooterInputCont{
    width:auto;
    height: 40px;
    overflow:hidden;
}

.feedBlockMessageFooterSendButton {
    float: right;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-left: 1px solid #ddd;
}

.feedBlockMessageFooterSendButton:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.feedBlockMessageFooterTextAreaCont {
    width:auto;
    height: 40px;
    overflow:hidden;
}

.feedBlockMessageFooterInput {
    background-color: rgba(245,245,245, 0.95);
    border: 0px;
    outline: 0px;
    padding: 0 10px;
    width: 100%;
    height: 40px;
}

.feedBlockMessageFooterInput:focus{
    background-color: #fff;
    border:0px;
    outline:0px
}

.playlistBlock {
}

#playlistCont{
    height:100%;
    overflow: hidden;
}

.playlistInfo{
    padding: 5px 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;  
    text-align: center;
}

.playerCont{
    background-color: #000;
}

#playlist{
    overflow-y: hidden;
}

.playlistItem{
    height: 60px;
    border-bottom: 1px solid #000;
}

.playlistItem:last-of-type{
    border-bottom: 0px;
}

.playlistOL{
    list-style: none; 
    padding:0; 
    margin: 0;
}

.playlistOL > li{
    border-bottom: 1px solid #aaa;
}

.playlistOL > li:hover{
    background-color: #f2f2f2;
}

#playlistSelected{
    background-color: #403F3F;
    color: #fff;
}

#playlistSelected:hover{
    background-color: #494848;
    color: #fff;
}

.playlistOL > li:last-child{
    /*border-bottom: 0;*/
}

.playlistOL > li > div {
    overflow: hidden;
    padding: 4px 4px 4px 0;
}

.playlistNumber{
    text-align: center;
    padding: 0 2px;
    width: 28px;
    float: left;
    line-height: 40px;
}

.playlistItemInfoCont {
    float: left;
}

.playlistItemThumb {
    height: 40px;
    width: auto;
    float: left;
    margin: 0 5px 0 0;
}

.playlistItemInfoCreator{
    opacity: 0.9;
}

